<html>
<head>
  <title>{% block title %}SCIMMA{% endblock %}</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <meta name="robots" content="noindex, nofollow">
</head>
<script src="https://unpkg.com/@popperjs/core@2"></script>
</html>

{% block content %}


<div class="container-fluid p-2 m-4">

  
<!-- Annoucement section   -->
<!-- Explain topics and groups   -->
<!-- Mention Public topics. -->

<span class=lead>


<h2>Hopskotch Topics</h2>

<p>
  In the Hopskotch messaging system,
  <strong> public topics</strong>
  are topics that any registered SCiMMA user may subscribe to. 
  <strong> class="highlight">Private topics</strong>
  are restricted channels intended for 
  communication within a specific collaboration or working group.
</p>

<p>
  SCiMMA currently supports 
  <strong>{{ group_data.summary.n_private_topics }}</strong> private topics and
  <strong>{{ group_data.summary.n_private_topics }}</strong> private topics and 
  <strong>{{ group_data.summary.n_public_topics }}</strong> public topics.
</p>

<h2>Active Public Topics</h2>

<p>
  The sections below list the 
  <strong>{{ group_data.summary.total_active_topics }}</strong> public topics
  that have had activity within the past 
  <strong>{{ group_data.summary.active_threshold_days }}</strong> days. 
  These represent the communication channels currently in use across the 
  SCiMMA community.
</p>

<p>
  Individuals who are not yet registered may create a free account using the 
  sign‑up link at <a href="https://www.scimma.org/">www.scimma.org</a>.  Registered
    users may subscribe to any public topic.
</p>

</span>
<br> <br>

<!-- Let a person see current topics so as to appreciate what's in hop   -->
<!-- When I developed this , the list is impossibly long, so let them Navigate by topic  -->
<!-- Use "collapse" to hide information not relevant ot the user.  -->

{% for group in group_data.groups %}
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{group.group_name}}" aria-expanded="false" aria-controls="{{group.group_name}}">
    {{group.group_name}} ({{group.n_public}} )
  </button>
{% endfor %}

{% for group in group_data.groups %}
<div class="collapse" id="{{ group.group_name }}"</div>
  <div > <!-- container needed to make collapse work  -->
    <table class="table">
      <thead><tr><th>Topic</th><th>Description</th><th>Last Published</th></tr></thead>
      <tbody>
      {% for t in group.public_topics %}
      <tr> <td> {{ t.topic }}</td><td> {{ t.description }} </td><td> {{ t.latest }} </td></tr>
      {% endfor %}
      </tbody>
    </table>
  </div> <!-- container  -->
</div>   <!-- collapse   -->
{% endfor %}

</div>  <!-- container-fluid   -->
{% endblock %}

