django>=4.2.14,<5.0
psycopg2==2.8.5
boto3==1.14.2
uWSGI==2.0.22
requests==2.31.0
django-enumfield==3.1
passlib==1.7.2
mozilla-django-oidc>=4.0,<5.0
psycopg2-binary==2.8.5
django-bootstrap5
whitenoise~=5.2
django-crispy-forms
crispy-bootstrap5
djangorestframework
django-rest-authtoken
scramp>=1.4.4
suds>=1.1.2