{% load static bootstrap4 tz %}

<html>
    <head>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'hopskotch_auth/css/main.css' %}">
        {% bootstrap_javascript jquery='True' %}

        <title>SCIMMA Auth | {% block title %}{% endblock %}</title>
    </head>
    <style>
        li.error, li.warning {
            background-color: orange;
        }
        td.info  {
           text-align: center;
        }
        td form {
           margin: 0;
           display: inline-block;
        }
        form#logout {
           display: inline-block;
        }
        {% block page-style %}
        {% endblock %}
    </style>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <h2 class="text-light">
                <a class="navbar-brand" href="/hopauth"><img src="{% static 'hopskotch_auth/img/logo_transparent.png' %}" class="img-fluid"> SCiMMA Auth</a>
                <span class="navbar-brand">
                {% block page-header %}
                {% endblock %}
                </span>
            </h2>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="text-light">Current user: {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</span>
                        <!-- User ID: {{ user.username }} -->
                        <form class="form-inline my-2 my-lg-0" id="logout" action="{% url 'oidc_logout' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary" type="submit" value="Log out">
                        </form>
                    </li>
                {% else %} {# Not authenticated #}
                    <li class="nav-item">
                        <a href="{% url 'oidc_authentication_init' %}">Log in</a>
                    </li>
                {% endif %}
                </ul>
              </div>
        </nav>

        <main class="container">
            {% bootstrap_messages %}
            {% block page-body %}
            {% endblock %}
        </main>
    </body>
</html>
