{% extends "hopskotch_auth/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Create Credential{% endblock %}
{% block page-header %}Create Credential{% endblock %}

{% block page-body %}
    <div class="container-fluid">
        <h2>Create Credential</h2>
        {% crispy form %}
        <h2>Available Permissions</h2>
        <div id="cur_permissions">
            <table class="table table-hover" id="avail_table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Access Via</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in accessible_topics %}
                    <tr>
                    <td class="topic_name">{{ topic.topic }}</td>
                    <td class="topic_desc">{{ topic.topic_description }}</td>
                    <td class="topic_access">{{ topic.accessible_by }}</td>
                    <td><button type="button" class="btn btn-primary addToCur">Add</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td class="info" colspan="3">This account does not have access to any topics</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
        
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'hopskotch_auth/js/credential.js' %}"></script>
{% endblock %}