{% extends "hopskotch_auth/hopskotch.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Create Credential{% endblock %}
{% block page-header %}{% endblock %}

{% block page-body %}
    <div class="container">
        <h2>Create Credential</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="desc_field" class="form-label">Description</label>
            <textarea id="desc_field" name="desc_field" class="form-control"></textarea>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
                <a class="btn btn-secondary" role="cancel" href="{% url 'index' %}">Cancel</a>
                <button class="btn btn-primary" role="submit">Submit</button>
            </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'hopskotch_auth/js/credential.js' %}"></script>
{% endblock %}