<html>
  <style>
   div.credentials {
       background-color: lightyellow;
       border: 1px solid red;
       margin: 2em;
       padding: 0.5em;
   }

   div.credentials pre {
       padding-left: 2em;
   }

  </style>
  <body>
    <h1>SCIMMA Auth</h1>
    <section class="logged-in-status">
      <p>Current user: {{ user.email }}</p>
      <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
      </form>
    </section>
    <section class="new-creds">
      <h2>New Credentials Generated</h2>
      <p>Here are your credentials.</p>
      <p>Please store them somewhere safe.</p>
      <div class="credentials">
        <h4>This is the only time the password will be revealed.</h4>
        <p>Username:</p><pre>{{ username }}</pre>
        <p>Password:</p><pre>{{ password }}</pre>
      </div>
      <p>These credentials will be usable within 10 seconds.</p>
      <h3>
        <a href="{% url 'index' %}">Return to main page</a>
      </h3>
    </section>
  </body>
</html>
