{% extends "hopskotch_auth/base.html" %}

{% block page-style %}
   div.credentials {
       background-color: lightyellow;
       border: 1px solid red;
       margin: 2em;
       padding: 0.5em;
   }

   div.credentials pre {
       padding-left: 2em;
   }
{% endblock %}

{% block page-body %}
    <section class="new-creds">
      <h2>New Credentials Generated</h2>
      <p>Here are your credentials.</p>
      <p>Please store them somewhere safe.</p>
      <div class="credentials">
        <h4>This is the only time the password will be revealed.</h4>
        <p>Username:</p><pre>{{ username }}</pre>
        <p>Password:</p><pre>{{ password }}</pre>
      </div>
      <form action="{% url 'download' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ username }}" name="username">
        <input type="hidden" value="{{ password }}" name="password">
        <button class="btn btn-outline-primary" type="submit" name="download" id="download">Download</button>
      </form> 
      <p>These credentials will be usable within 10 seconds.</p>
      <h3>
        <a class="btn btn-outline-secondary" href="{% url 'index' %}">Return to main page</a>
      </h3>
    </section>
{% endblock %}
