{% extends "hopskotch_auth/base.html" %}

{% block title %}Credential Management{% endblock %}
{% block page-header %}Credential management{% endblock %}

{% block page-body %}
        <section class="groups-list">
            <h2>Existing Credentials</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Credential owner</th>
                        <th scope="col">Name</th>
                        <th scope="col">Suspended</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% regroup credentials by owner as owner_list %}
                    {% for owner, credentials in owner_list %}
                    {% for cred in credentials %}
                    <tr>
                        {% if forloop.first %} 
                        <td rowspan="{{ credentials|length }}">{{ owner }} ({{ owner.email }})</td>
                        {% endif %}
                        <td>{{ cred.username }}</a></td>
                        <td>{{ cred.suspended }}</td>
                        <td><a class="btn btn-secondary" href="{% url 'edit_credential' %}?cred_username={{ cred.username }}">Edit</a></td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <h3>
            <a class="btn btn-outline-secondary" href="{% url 'index' %}">Return to main page</a>
        </h3>
        
{% endblock %}
