{% extends "hopskotch_auth/base.html" %}

{% block page-header %}<a href="{% url 'index' %}">SCIMMA Auth</a>: Credential management{% endblock %}

{% block page-body %}
        <section class="groups-list">
            <h2>Existing Credentials</h2>
            <table>
                <thead>
                    <colgroup>
                        <col id="cred-owner">
                        <col id="cred-name">
                        <col id="cred-suspended">
                        </colgroup>
                    <tr>
                        <th>Credential owner</th>
                        <th>Name</th>
                        <th>Suspended</th>
                    </tr>
                </thead>
                <tbody>
                    {% regroup credentials by owner as owner_list %}
                    {% for owner, credentials in owner_list %}
                    {% for cred in credentials %}
                    <tr>
                        {% if forloop.first %} 
                        <td rowspan="{{ credentials|length }}">{{ owner }} ({{ owner.email }})</td>
                        {% endif %}
                        <td><a href="{% url 'edit_credential' %}?cred_username={{ cred.username }}">{{ cred.username }}</a></td>
                        <td>{{ cred.suspended }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
        
{% endblock %}
