{% extends "hopskotch_auth/base.html" %}

{% block title %}Edit Group{% endblock %}
{% block page-header %}Edit Group: {{ group.name }}{% endblock %}

{% block page-body %}
        <section class="members-list">
            <h2>Current Members</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Status</th>
                        <th scope="col">Change Status</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for membership in memberships %}
                    <tr>
                        <td>{{ membership.user_name }} ({{ membership.user_email }})</td>
                        <td>{{ membership.status }}</td>
                        <td>
                            <form action="{% url 'change_membership_status' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <input type="hidden" name="user_id" value="{{ membership.user_id }}">
                                <select class="form-select" name="status">
                                    <option value="Member">Member</option>
                                    <option value="Owner">Owner</option>
                                </select>
                                <input type="submit" value="Change">
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'remove_user' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <input type="hidden" name="user_id" value="{{ membership.user_id }}">
                                <input type="submit" value="Remove">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="info" colspan="4">This group has no members</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <hr/>
        <section>
            <h2>Add Member</h2>
            <form action="{% url 'change_membership_status' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <div class="form-row">
                    <div class="col">
                        <select class="form-control" name="user_id">
                            {% for user in all_users %}
                            <option value="{{ user.id }}">{{ user.username }} ({{ user.email }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" name="status">
                            <option value="Member">Member</option>
                            <option value="Owner">Owner</option>
                        </select>
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-primary" type="submit" value="Add user">
                    </div>
                </div>
            </form>
        </section>
        <hr/>
        <section class="topics-list">
            <h2>Topics</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Topic</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in topics %}
                    <tr>
                        <td>{{ topic.name }}</td>
                        <td>
                            <form action="{% url 'edit_topic' %}" method="get">
                                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                <input class="btn btn-secondary" type="submit" value="Edit">
                            </form>
                            <form action="{% url 'delete_topic' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="info" colspan="4">This group has no Kafka topics</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <hr/>
        <section>
            <h2>Add Topic</h2>
            <form action="{% url 'create_topic' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <div class="form-row">
                    <div class="col">
                        <span>{{ group.name }}.<input class="vTextField" placeholder="Topic Name" type="text" name="topic_name" class="vTextField" minlength="1" maxlength="249" pattern="[a-zA-Z0-9_-]{1,247}" required id="id_name"></span>
                        <br>(Roman letters, digits, underscores, and dashes are allowed.)
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary" type="submit" name="create">Create</button>
                    </div>
                </div>
            </form>
        </section>
{% endblock %}
