{% extends "hopskotch_auth/base.html" %}

{% block page-header %}<a href="{% url 'index' %}">SCIMMA Auth</a>: Credential management{% endblock %}

{% block page-body %}
        <h2>Credential {{ cred.username }}</h2>
        
        {% if cred.suspended %}
        <section>
            <h2>This credential is currently suspended</h2>
            <p>It cannot be used to access Kafka until the suspension is removed by SCiMMA staff.</p>
        </section>
        {% endif %}

        <section>
            <h2>Active Credential Permissions</h2>
            <table>
                <thead>
                    <colgroup>
                        <col id="perm-topic">
                        <col id="perm-type">
                        <col id="perm-remove">
                    </colgroup>
                    <tr>
                        <th>Topic</th>
                        <th>Permission</th>
                        <th>Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perm in permissions %}
                    <tr>
                        <td>{{ perm.topic_name }}</td>
                        <td>{{ perm.operation }}</td>
                        <td>
                            <form action="{% url 'remove_credential_permission' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="perm_id" value="{{ perm.id }}">
                                <input type="submit" value="Revoke">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="info" colspan="3">This credential has no permissions to access any topic</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        
        <section>
            <h2>Add Permission</h2>
            <form action="{% url 'add_credential_permission' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cred_username" value="{{ cred.username }}">
                <select name="perm">
                    {% for perm in possible_perms %}
                    <option value="{{ perm.desc }}">{{ perm.topic }}: {{ perm.operation }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add permission">
            </form>
        </section>
        
        <section>
            <h2>Delete Credential</h2>
            <p>Danger! This cannot be undone!</p>
            <form action="{% url 'delete' %}">
                {% csrf_token %}
                <input type="hidden" name="cred_username" value="{{ cred.username }}">
                <input type="submit" value="Delete">
            </form>
        </section>

        {% if user.is_staff %}
        <section class="Suspension">
            <h2>Suspend Credential</h2>
            {% if cred.suspended %}
            <p>Removing this credential's suspension will allow it to be used to access Kafka again.</p>
            <form action="{% url 'unsuspend_credential' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cred_id" value="{{ cred.id }}">
                <input type="submit" value="Remove Suspension">
            </form>
            {% else %}
            <p>Suspending this credential will stop if from being used to access Kafka.</p>
            <form action="{% url 'suspend_credential' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cred_id" value="{{ cred.id }}">
                <input type="submit" value="Suspend Credential">
            </form>
            {% endif %}
        </section>
        <a href="{% url 'credential_management' %}">Back to global credential management</a>
        {% endif %}
        
{% endblock %}
