{% extends "hopskotch_auth/base.html" %}

{% block title %}Edit Topic{% endblock %}
{% block page-header %}Topic management: {{ topic.name }}{% endblock %}

{% block page-body %}
        <section>
            <h2>Description</h2>
            <form action="{% url 'change_topic_description' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <label for="id_desc">Description:</label>
                <br/>
                <textarea name="description" class="vTextField" maxlength="1024" id="id_desc" style="width: 50%;">{{ topic.description }}</textarea>
                <br/>
                <button class="btn btn-outline-primary" type="submit" name="update" id="update">Update</button>
            </form>
            <hr/>
        <section class="permissions-list">
            <h2>Active Group Permissions</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Group</th>
                        <th scope="col">Permission</th>
                        <th scope="col">Revoke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for perm in permissions %}
                    <tr>
                        <td>{{ perm.group_name }}</td>
                        <td>{{ perm.operation }}</td>
                        <td>
                            {% if perm.group_id != owning_group.id %}
                            <form action="{% url 'remove_group_permission' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="perm_id" value="{{ perm.id }}">
                                <input class="btn btn-danger" type="submit" value="Revoke">
                            </form>
                            {% else %}
                            (Owning Group)
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="info" colspan="3">This topic has no permissions granted to any group</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <hr/>
        <section>
            <h2>Add Permission</h2>
            <form action="{% url 'add_group_permission' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <div class="form-row">
                    <div class="col">
                        <select class="form-control" name="group_id">
                            {% for group in all_groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" name="operation">
                            {% for operation in operations %}
                            <option value="{{ operation }}">{{ operation }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input class="btn btn-outline-primary" type="submit" value="Add permission">
                    </div>
                </div>
            </form>
        </section>
        <hr/>
        <section>
            <h2>Public read-access</h2>
            This topic {% if topic.publicly_readable %}is{% else %}is not{% endif %} readable by all hopskotch users.
            <form action="{% url 'set_topic_public_read_access' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                {% if topic.publicly_readable %}
                <input type="hidden" name="public" value="False">
                {% else %}
                <input type="hidden" name="public" value="true">
                {% endif %}
                <input class="btn btn-outline-primary" type="submit" value="{% if topic.publicly_readable %}Remove{% else %}Add{% endif %} public access">
            </form>
        </section>
        <hr/>
        <section>
            <h2>Delete Topic</h2>
            <p>Danger! This cannot be undone!</p>
            <form action="{% url 'delete_topic' %}"  method="post">
                {% csrf_token %}
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </section>
        
{% endblock %}
