{% extends "hopskotch_auth/base.html" %}
{% load static %}

{% block title %}Create Credential{% endblock %}
{% block page-header %}{% endblock %}

{% block page-body %}
    <div class="container-fluid">
        <h2>Credential Information</h2>
        <div class="row mb-3">
            <label for="username_input" class="form-label col-1">Username</label>
            <input class="form-control col me-2" id="username_input" type="text" value="{{ cred_username }}" disabled>
            <button type="button" id="copy_username" class="btn btn-primary col-2">Copy to clipboard</button>
        </div>
        <div class="row mb-3">
            <label for="password_input" class="form-label col-1">Password</label>
            <input class="form-control col me-2 toCopy" type="text" id="password_input" value="{{ cred_password }}" disabled>
            <button type="button" id="copy_password" class="btn btn-primary col-2 clipboard">Copy to clipboard</button>
        </div>
        <div class="d-flex justify-content-end">
            <form action="{% url 'download' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ cred_username }}" name="username">
                <input type="hidden" value="{{ cred_password }}" name="password">
                <button class="btn btn-primary" type="submit" name="download" id="download">Download as CSV</button>
            </form>
        </div>
        <h2>Description</h2>
        <div id="description" name="description_added" class="row mb-5">
            <div class="form-floating col-lg">
                <textarea class="form-control" placeholder="Description" id="desc_area" rows="3" disabled>{{ cred_description }}</textarea>
                <label for="desc_area">Description</label>
            </div>
            <div class="col-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                </svg>
            </div>
        </div>
        <div class="accordion" id="credAccordion">
            <div class="accordion-item mt-3 mb-1">
            <h2 class="accordion-header" id="credHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCred" aria-expanded="false" aria-controls="collapseCred">
                What do I do from here?
              </button>
            </h2>
            <div id="collapseCred" class="accordion-collapse collapse" aria-labelledby="credHeading" data-bs-parent="#credAccordion">
              <div class="accordion-body">
                This is example text with some code probably.
              </div>
            </div>
          </div>
        </div>
        <div id="final_controls">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="{% url 'manage_credential' cred_username %}" role="button">Manage Credential</a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="{% url 'index' %}" role="button">Finish</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'hopskotch_auth/js/finished_credential.js' %}"></script>

{% endblock %}