{% extends "hopskotch_auth/base.html" %}

{% block title %}Group Management{% endblock %}
{% block page-header %}Group management{% endblock %}

{% block page-body %}
        <section class="groups-list">
            <h2>Existing Groups</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.id }}</td>
                        <td>{{ group.description }}</td>
                        <td>
                            <form action="{% url 'edit_group' %}" method="get">
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <input class="btn btn-secondary" type="submit" value="Edit">
                            </form>
                            <form action="{% url 'delete_group' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ group.id }}">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="info" colspan="3">There are currently no groups</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <hr/>
        <section class="new-group">
            <h2>Create new group</h2>
            <form action="{% url 'create_group' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <label class="required" for="id_name">Group Name</label>
                        <input type="text" name="name" class="vTextField" minlength="1" maxlength="247" pattern="[a-zA-Z0-9_-]{1,247}" required id="id_name">
                        <br>(Roman letters, digits, underscores, and dashes are allowed.)
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary" type="submit" name="create" id="create">Create</button>
                    </div>
                </div>
            </form>
        </section>
        <h3>
            <a class="btn btn-outline-secondary" href="{% url 'index' %}">Return to main page</a>
        </h3>
        
{% endblock %}
