{% load tz %}

<html>
  <style>
   table {
       width: 640px;
   }
   td.info  {
       text-align: center;
   }
   th, td {
       border: 1px solid black;
   }
   td form {
       margin: 0;
   }
   col#cred-username {
       width: 40%;
   }
   col#cred-created-on {
       width: 40%;
   }
   col#cred-action {
       width: 20%
   }

   .messages {
       width: 80%;
       border: 1px solid darkred;
       background-color: lightgrey;
   }
   li.error, li.warning {
       background-color: orange;
   }

  </style>
  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <h1>SCIMMA Auth</h1>
    <section class="logged-in-status">
      <p>Current user: {{ user.email }} ({{ user.username }})</p>
      <form action="{% url 'oidc_logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="logout">
      </form>
    </section>
    <section class="creds-list">
      <h2>active credentials</h2>
      <table>
        <thead>
          <colgroup>
            <col id="cred-username">
            <col id="cred-created-on">
            <col id="cred-action">
          </colgroup>
          <tr>
            <th>Kafka Username</th>
            <th>Created On (Pacific Time)</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for cred in credentials %}
          <tr>
            <td>{{ cred.username }}</td>
            <td>{{ cred.created_at|localtime }}</td>
            <td>
              <form action="{% url 'delete' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ cred.username }}" name="cred_username">
                <input type="submit" value="delete">
              </form>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="info" colspan="3">no existing credentials found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <section class="create">
      <h2>create credentials</h2>
      <p>Click below to create a new set of Kafka credentials.</p>
      <p>A username and password will be generated for you.</p>
      <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="create new credentials">
      </form>
    </section>
    {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
    {% endif %}
  </body>
</html>
