{% extends "hopskotch_auth/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Create Credential{% endblock %}
{% block page-header %}Create Credential{% endblock %}

{% block page-body %}
    <h2>Manage Credential</h2>
    <div class="container-fluid">
        {% crispy form %}
        <h2>Added Permissions</h2>
        <div id="added_permissions">
          <table class="table table-hover" id="added_table">
            <thead>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Access Via</th>
              <th scope="col">Permission</th>
              <th scope="col">Remove</th>
            </thead>
            <tbody>
              {% for topic in added_topics %}
              <tr>
                <form action="{% url 'remove_credential_permission' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="credname" value="{{ credname }}">
                  <td class="topic_name">
                    <input type="text" class="form-control-plaintext" name="perm_name" value="{{ topic.topic }}" readonly>
                  </td>
                  <td class="topic_desc">
                    {{ topic.topic_description }}
                  </td>
                  <td class="topic_accs">
                    {{ topic.accessible_by }}
                  </td>
                  <td class="topic_perm">
                    <input type="text" class="form-control-plaintext" name="perm_perm" value="{{ topic.permission_type }}">
                  </td>
                  <td class="topic_remv">
                    <button type="submit" class="btn btn-danger removeButton">Remove</button>
                  </td>
                </form>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <form action="{% url 'add_credential_permission' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="credname" value="{{ credname }}">
          <div class="row">
            <div class="col">
              <label for="id_perm_name" class="col-form-label">Add Permission to Credential</label>
            </div>
            <div class="col">
              <input id="id_perm_name" type="text" class="form-control" name="perm_name" placeholder="Topic name" aria-label="Topic name" readonly>
            </div>
            <div class="col">
              <select id="id_perm_perm" class="form-select" name="perm_perm" aria-label="Permission selection">
                <option selected>Select a permission</option>
                <option>Read</option>
                <option>Write</option>
              </select>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
        <h2>Available Permissions</h2>
        <div id="cur_permissions">
            <table class="table table-hover" id="avail_table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Access Via</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in accessible_topics %}
                    <tr>
                    <td class="topic_name">{{ topic.topic }}</td>
                    <td class="topic_desc">{{ topic.topic_description }}</td>
                    <td class="topic_access">{{ topic.accessible_by }}</td>
                    <td>
                      <form>
                      <button type="button" class="btn btn-primary addToCur objectModifier">Select</button></td>
                    </tr>
                    {% empty %}
                    <tr>
                    <td class="info" colspan="3">This account does not have access to any topics</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="accordion" id="credAccordion">
            <div class="accordion-item mt-3 mb-1">
            <h2 class="accordion-header" id="credHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCred" aria-expanded="false" aria-controls="collapseCred">
                What do I do from here?
              </button>
            </h2>
            <div id="collapseCred" class="accordion-collapse collapse" aria-labelledby="credHeading" data-bs-parent="#credAccordion">
              <div class="accordion-body">
                This is example text with some code probably.
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'hopskotch_auth/js/manage_credential.js' %}"></script>
{% endblock %}