{% extends "hopskotch_auth/hopskotch.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Manage Credential{% endblock %}
{% block page-header %}Manage Credential{% endblock %}

{% block page-body %}
<meta id="gact_url" data-link="{% url 'get_available_credential_topics' %}">
<meta id="bscp_url" data-link="{% url 'bulk_set_credential_permissions' %}">
<meta id="dacp_url" data-link="{% url 'delete_all_credential_permissions' %}">
<meta id="aacp_url" data-link="{% url 'add_all_credential_permission' %}">
<meta id="acp_url" data-link="{% url 'add_credential_permissions' %}">
<meta id="rcp_url" data-link="{% url 'remove_credential_permissions' %}">

    <h2>Manage Credential {{ cur_username }}</h2>
    <div class="container-fluid">
        <form class="form-horizontal" id="modifyCredentialForm" method="post">
          {% csrf_token %}
          <div id="divNameField" class="mb-3 row" style="display:none">
            <label for="idNameField" class="col-form-label col-lg-2">Username</label>
            <div class="col-lg-8">
              <input type="text" name="name_field" value="{{ cur_username }}" readonly="True" class="textinput textInput form-control" id="idNameField">
            </div>
          </div>
          <div id="divDescriptionField" class="mb-3 row">
            <label for="idDescField" class="col-form-label col-lg-2">Description</label>
            <div class="col-lg-8">
              <textarea style="height: 4em;" name="desc_field" cols="40" rows="3" class="textarea form-control" id="idDescField">{{ cur_desc }}</textarea>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" name="save" value="Update Description" class="btn btn-primary btn-primary" id="submit-id-save">
        </div> 
        </form>
          <h2>
            Current Permissions
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="All permissions currently assigned to this credential are listed here. Click the 'Remove' button next to a permission to remove it." data-bs-original-title="Help">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
            </svg>
          </h2> 
          
          <div class="row mb-3">
              <table class="table" id="added_table">
                  <thead>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Access Via</th>
                      <th scope="col">Permissions</th>
                  </thead>
                  <tbody>
                      {% for topic in added_topics %}
                      <tr scope="row">
                          <td class="topic_name">{{ topic.topic }}</td>
                          <td class="topic_desc">{{ topic.description }}</td>
                          <td class="topic_access">{{ topic.access_via }}</td>
                          <td class="operations">
                              {% for perm in topic.permissions %}
                              <span display="inline-block">{{ perm }}&nbsp;<button role="button" style="padding-top: 0; padding-bottom:0;" class="btn btn-sm btn-danger remPerm objectModifier">Remove</button></span> <br>
                              {% endfor %}
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
        
        <h2>
          Available Permissions
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="A list of permissions that are available to add to your credential, grouped by topic. To add a permission click the 'Add' button next to it." data-bs-original-title="Help">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
          </svg>
        </h2>
        <div id="cur_permissions">
            <table class="table table-hover" id="avail_table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Access Via</th>
                        <th scope="col">Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in accessible_topics %}
                    <tr>
                    <td class="topic_name">{{ topic.topic }}</td>
                    <td class="topic_desc">{{ topic.topic_description }}</td>
                    <td class="topic_access">{{ topic.accessible_by }}</td>
                    <td class="operations">
                        {% for perm in topic.permissions %}
                        <span display="inline-block">{{ perm }}&nbsp;<button role="button" style="padding-top: 0; padding-bottom:0;" class="btn btn-sm btn-primary addPerm objectModifier">Add</button></span> <br>
                        {% endfor %}
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="accordion" id="credAccordion">
            <div class="accordion-item mt-3 mb-1">
            <h2 class="accordion-header" id="credHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCred" aria-expanded="false" aria-controls="collapseCred">
                What do I do from here?
              </button>
            </h2>
            <div id="collapseCred" class="accordion-collapse collapse" aria-labelledby="credHeading" data-bs-parent="#credAccordion">
              <div class="accordion-body">
                <p>By default, a credential with no additional permissions will only allow you to read from topics whose owners have marked them public.
                
                <p>If you are a member of a group which owns one or more topics of its own, or has been granted access to one or more topics owned by another group, 
                then on this page you will have the option to grant those permissions to your credential, enabling it to use them. 
                To do so, locate the permission you wish to use in the 'Available Permissions' table (you may want to use the search function if you have many options), and click the associated 'Add' button.
                If you want to remove a permission you have previously added, locate it in the 'Current Permissions' table and click the associated 'Remove' button.
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'hopskotch_auth/js/manage_credential.js' %}"></script>
{% endblock %}