{% extends "hopskotch_auth/base.html" %}

{% block title %}Topic Management{% endblock %}
{% block page-header %}Topic Management{% endblock %}

{% block page-body %}
        <section class="topics-list">
            <h2>Existing Topics</h2>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Owning Group</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% regroup topics by owning_group as owner_list %}
                    {% for owning_group, topics in owner_list %}
                    {% for topic in topics %}
                    <tr>
                        {% if forloop.first %} 
                        <td rowspan="{{ topics|length }}"><a href="{% url 'edit_group' %}?group_id={{ owning_group.id }}">{{ owning_group.name }}</a></td>
                        {% endif %}
                        <td><a href="{% url 'edit_topic' %}?topic_id={{ topic.id }}">{{ topic.name }}</a></td>
                        <td>{{ topic.description }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <h3>
            <a class="btn btn-outline-secondary" href="{% url 'index' %}">Return to main page</a>
        </h3>
        
{% endblock %}
